In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods = 6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
#creates a dataframe of a matrix with random numbers and datetime index as rows and labeled columns
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01 -0.389515  0.172543  0.287726  0.554141
2013-01-02  0.773411 -1.018048  0.213303  0.279999
2013-01-03 -0.080341  0.751112 -1.445182 -1.431309
2013-01-04 -0.182384  0.821690  0.970762 -0.802940
2013-01-05  0.604431  1.253788 -1.689611  0.438325
2013-01-06  1.544483 -0.124851 -1.323954 -2.208543

In [11]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'), 
                    'C': pd.Series(1, index=list(range(4)), dtype = float),
                    'D': np.array([3] * 4, dtype = 'int32'), 
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -0.389515  0.172543  0.287726  0.554141
2013-01-02  0.773411 -1.018048  0.213303  0.279999
2013-01-03 -0.080341  0.751112 -1.445182 -1.431309
2013-01-04 -0.182384  0.821690  0.970762 -0.802940
2013-01-05  0.604431  1.253788 -1.689611  0.438325

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.values

array([[-0.38951488,  0.17254341,  0.28772597,  0.55414099],
       [ 0.77341117, -1.01804812,  0.21330344,  0.27999855],
       [-0.08034064,  0.75111242, -1.44518159, -1.43130914],
       [-0.1823839 ,  0.82169022,  0.9707624 , -0.80293982],
       [ 0.60443132,  1.25378767, -1.68961076,  0.43832549],
       [ 1.54448288, -0.12485081, -1.32395378, -2.20854263]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.378348  0.309372 -0.497826 -0.528388
std    0.732323  0.814720  1.120702  1.137845
min   -0.389515 -1.018048 -1.689611 -2.208543
25%   -0.156873 -0.050502 -1.414875 -1.274217
50%    0.262045  0.461828 -0.555325 -0.261471
75%    0.731166  0.804046  0.269120  0.398744
max    1.544483  1.253788  0.970762  0.554141

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.389515    0.773411   -0.080341   -0.182384    0.604431    1.544483
B    0.172543   -1.018048    0.751112    0.821690    1.253788   -0.124851
C    0.287726    0.213303   -1.445182    0.970762   -1.689611   -1.323954
D    0.554141    0.279999   -1.431309   -0.802940    0.438325   -2.208543

In [22]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01  0.554141  0.287726  0.172543 -0.389515
2013-01-02  0.279999  0.213303 -1.018048  0.773411
2013-01-03 -1.431309 -1.445182  0.751112 -0.080341
2013-01-04 -0.802940  0.970762  0.821690 -0.182384
2013-01-05  0.438325 -1.689611  1.253788  0.604431
2013-01-06 -2.208543 -1.323954 -0.124851  1.544483

In [23]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [24]:
s

0    4
1    3
2    4
3    1
4    4
5    1
6    4
7    0
8    4
9    3
dtype: int32